<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MIDTERM.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-V50GS4K;Initial Catalog=Northwind;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="MIDTERM.Properties.Settings.QTHCSDL_LAB3ConnectionString"
            connectionString="Data Source=DESKTOP-V50GS4K;Initial Catalog=QTHCSDL_LAB3;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="MIDTERM.Properties.Settings.DBMS_OUConnectionString"
            connectionString="Data Source=WINDOWS-11\SQLEXPRESS;Initial Catalog=DBMS_OU;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>